<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <!-- <level value="DEBUG" /> -->
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="Logs\Orion %processid %-4utcdate{yyyy-MM-dd-HH.mm.ss}.log" />
      </file>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4utcdate [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>